:root{
    --clr_main: #12100E;
    --clr_accent: #5C3A21;
    --clr_button: #C79B45;
    --clr_text: #E8DFC8;
    --clr_eldritch: #2E5F5A;
    --pdg_bread: 4rem;
    --pdg_cap: 2rem;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: var(--clr_text);
    font-family: sans-serif;
}
body{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background:linear-gradient(180deg,var(--clr_main),var(--clr_eldritch),var(--clr_main));;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding-left: 1rem;
    padding-top: 1rem;
    font: bold 3rem sans-serif;
    background:var(--clr_accent);
}
#header_loga{
    order: 2;
    width: 3.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
}
nav, footer{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    outline: 3px solid var(--clr_text);
    display: flex;
    justify-content: center;
}
nav{
    background: linear-gradient(top to bottom,var(--clr_main),var(--clr_accent));
}
main{
    flex-grow: 5;
    display:flex;
    flex-direction: column;
}
footer{
    padding: 0.7rem;
    background: var(--clr_accent);
    color: var(--clr_text);
}
nav{
    margin-bottom: 0.5rem;
}
a{
    text-decoration: none;
    color: var(--clr_button);
}
nav a{
    font:bold 1.2rem sans-serif;
    color: var(--clr_button);
    text-decoration: none;
    margin-right: 1rem;
    margin-left: 1rem;
}
nav a:hover{
    background: #fff4;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.35s ease-in-out;
}
nav a:not(:hover){
    transition: all 0.35s ease-in-out;
}
ul{
    padding-left: var(--pdg_bread);
}
h1{
    padding-left: var(--pdg_cap);
    padding-top: 2dvh;
    padding-bottom: 1dvh;
}
p{
    padding-left: var(--pdg_bread);
    margin-right: 4rem;
}
#thelash_main{
    flex-grow: 5;
    display:flex;
    flex-direction: row;
}

#future_gayming{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(4,minmax(200px,1fr));
    --grid-template-rows:repeat(3,minmax(200px,1fr));
}
#logotyp{
    height:72dvh;
    grid-column: 4/5;
    grid-row: 1/4; 
}
#futrue_text{
    grid-column: 1/4;
    grid-row: 1/2;
    height: 20dvh;

}
#place_section{
    grid-column: 1/4;
    grid-row: 2/4;
    display: flex;
    flex-direction: row;
    gap: 5dvw;
    margin-left: 5dvw;
    margin-right: 5dvw;
}
.pre_set{
    height: 100%;
    width: 35dvw;
    border-radius: 5px;
    outline: 5px solid var(--clr_eldritch);
}
#place_section img{
    width: 100%;
    height: 35dvh;
}
.thelash{
    margin-left: 3dvw;
    margin-right: 2dvw;
    margin-bottom: 5dvh;
    margin-top: 5dvh
}
#goat{
    padding-right: var(--pdg_cap);
    padding-top: var(--pdg_cap);
}
#about_logo{
    display: grid;
    place-content: center;
}
#loggan_i_about{
    padding: 2rem;
    height: 70dvh;
}
#unfuck{
    height: -10dvh;
}

@media screen and (max-width: 1300px) {
    #future_gayming{
        grid-template-rows: 1fr 1fr;
    }
}